html, body {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
  font: normal 18px/1.4 "Cotham Sans", Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Live Stream Container */

.stream-container {
  position: relative;
  min-height: 350px;
  margin-bottom: 1em;
  height: 100%;
}

.stream-selector {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  text-align: center;
  z-index: 10;
}

.stream-selector-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream-option-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.stream-option {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 0.75em;
  border-width: 0;
  font-size: 16px;
  background: transparent;
}

.stream-option[disabled] {
  cursor: not-allowed;
  opacity: 0.25;
}

.stream-option[disabled] .stream-option-graphic,
.stream-option[disabled]:hover .stream-option-graphic,
.stream-option[disabled]:focus .stream-option-graphic {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.stream-option[disabled]:hover .button-label,
.stream-option[disabled]:focus .button-label {
  text-decoration: none;
}

.stream-option:hover .button-label,
.stream-option:focus .button-label {
  text-decoration: underline;
}

.stream-option:hover .stream-option-graphic,
.stream-option:focus .stream-option-graphic {
  -webkit-filter: none;
  filter: none;
} 

.stream-option-graphic {
  pointer-events: none;
  width: 130px;
}

.stream-message {
  margin: 0 auto;
  max-width: 75%;
  font-size: 0.85em;
}

.stream-option-title-helper {
  position: absolute;
  top: 100%;
  display: none;
  width: 225px;
  font-size: 0.85em;
  line-height: 1.2em;
  color: #777;
  white-space: normal;
}

.stream-option-wrapper:hover .stream-option-title-helper {
  display: block;
}

.stream-refresh {
  cursor: pointer;
  margin-top: 1em;
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  font-size: 0.85em;
  padding: 15px 20px;
}

.stream-refresh:hover {
  background-color: #333;
  border-color: #333;
}

.button-label {
  color: #000000;
  margin-top: 1em;
}

#loadingTitle {
  font-weight: normal;
  margin-top: 0;
}

#live {
  height: 100%;
}
