html, body {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
  font: normal 18px/1.4 nimbus sans l,helvetica neue,arial,sans-serif;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Variables */

.color-accent {
  color: #ff3f00;
}

.bg-white {
  background: #ffffff;
}

/* Layout */

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.pt-s {
  padding-top: 1em;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mr-1 {
  margin-right: 1em;
}

/* Buttons */

.button,
button {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  padding: 1em 2em 1em;
  color: #000000;
  text-align: center;
  font-family: nimbus sans l,helvetica neue,arial,sans-serif;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffe100;
  border: 0;
  cursor: pointer;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: #ffffff;
  background-color: #ff3f00;
  border-color: #ff3f00;
  text-decoration: none;
}

.button.button-primary,
button.button-primary {
  border: 7px solid #ff3f00;
  background-color: $yellow;
}

.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
  color: #ffffff;
  background-color: #ff3f00;
  border-color: #ff3f00;
}

.compact {
  font-size: 0.85em;
  line-height: 1.5em;
  padding: 5px 10px;
}

/* Live Stream Container */

.stream-container {
  position: relative;
  min-height: 350px;
  margin-bottom: 1em;
  height: 100%;
}

.stream-selector {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.selector-option {
  margin-top: -62px;
}

.stream-option {
  padding: 0.75em;
  margin: 0 10px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.1);
}
.stream-option:hover, .stream-option:focus {
  background: #ffffff;
}
.stream-option:hover .button-label, .stream-option:focus .button-label {
  text-decoration: underline;
}
.stream-option .stream-option-graphic {
  width: 130px;
  pointer-events: none;
}
.stream-option[disabled] {
  cursor: not-allowed;
  opacity: 0.25;
}
.stream-option[disabled]:hover .button-label, .stream-option[disabled]:focus .button-label {
    text-decoration: none;
}
.stream-option[disabled] .stream-option-graphic {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.stream-message {
  max-width: 75%;
  margin: 0 auto;
  font-size: 0.85em;
}

.stream-option-title-helper {
  top: 100%;
  width: 225px;
  font-size: 0.85em;
  line-height: 1.2em;
}

.stream-option-wrapper:hover .stream-option-title-helper {
  display: block;
}

.stream-refresh {
  cursor: pointer;
  margin-top: 1em;
  background: #000000;
  border-color: #000000;
  color: #ffffff;
  font-size: 0.85em;
  padding: 15px 20px;
}
.stream-refresh:hover {
    background-color: #000000;
    border-color: #000000;
}

.button-label {
  color: #000000;
  margin-top: 1em;
}

.share-container {
  z-index: 5;
}

#loadingTitle {
  font-weight: normal;
  margin-top: 0;
}

#live {
  height: 100%;
}
