[Unit]
Description=HLS Daemon
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/process-stream.sh
ExecStop=/usr/bin/pkill -f ffmpeg ; /usr/bin/pkill -f process-stream.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
