[Unit]
Description=Service to add IPFS pins
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/ipfs-pin-service.sh
ExecStop=/usr/bin/pkill -f ipfs-pin-service.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target