html, body, .video-unavailable {
     width: 100% !important;
     height: 100% !important;
     overflow: hidden;
     margin: 0;
     padding: 0;
}
 .video-unavailable {
     background-color: #000;
     text-align: center;
     color: #FFF;
     font-size: 16px;
     font-family: arial, helvetica, sans-serif;
}
 .video-unavailable p {
     padding: 50px;
     line-height: 1.5em;
}
 body {
     background-colo: #000000;
     font: normal 18px/1.4 "Cotham Sans", Helvetica, Arial, sans-serif;
}
 #logo {
     height: 100px;
}
 .header {
     text-align: center;
     background-color: rgb(209, 233, 227);
     height: 50px;
     width: 30%;
     height: 500px;
     display: block;
     margin: 0 auto;
     z-index: 5;
     position: absolute;
     top: calc( 50% - 250px );
     left: 35%;
     box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
     ;
}
 .header h1 {
     font-size: 24p;
     text-align: center;
}
 .header h2 {
     font-size: 14p;
     text-align: center;
}
 .header h1 {
     margin: 0;
     padding: 0;
}
 .header h2 {
     margin: 0;
     padding: 0;
}
 .StreamOption {
     display: inline-block;
     width: 48%;
     text-align: center;
     border: 1px solid black;
     vertical-align: top;
     height: 200px;
     ;
     background: white;
     ;
}
 #msg {
     font-size: 12px;
     color: red;
}
 @media only screen and (max-width: 1200px) {
     #logo {
         height: 50px;
    }
     .header {
         height: 100%;
         width: 100%;
         top: 0;
         left: 0;
         overflow: hidden;
    }
     .StreamOption {
         width: 250px;
         height: 125px;
         display: inline-block;
         margin: 0 auto;
         margin-bottom: 10px;
    }
     .StreamOption img {
         width: 70px;
         height: auto;
    }
}
 #live {
     height: 100%;
     width: 100%;
     display: block;
}